{%extends 'base.html' %}
{%block content%}


<h1 class="counter" style="font-family: sans-serif;text-align: center;margin-top: 20%;"></h1>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function(){
            setInterval(function(){
                $.ajax({
                    type:'GET',
                    url:"{%url 'get_ajax' key %}",
                    success: function(response){
                        var temp = response.live_counter
                        $('.counter').empty()
                        if (temp<=0){
                            $(".counter").append("Time is Over")

                        }
                        else{
                            $(".counter").append(temp)
                        }
                    },
                    error:function(response){
                        alert("error")
                    }
                })
            },1000)
        });
    </script>
{%endblock%}